.app {
    background-image: url("./assets/back.avif");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .login-container {
    background: #cfd6df;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    color: white;
  }
  
  .login-container h1 {
    margin-bottom: 2rem;
  }
  
  .login-container input {
    padding: 1rem;
    margin-bottom: 1rem;
    color: black;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .login-container button {
    background: #4c68d7;
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container .separator {
    color: #999;
    margin: 1rem 0;
  }
  
  .language-selector {
    display: flex;
    justify-content: center;
  }
  
  .language-selector button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .language-selector button:not(:last-child) {
    margin-right: 1rem;
  }
  
  /* Additional styling can be added to match the exact design in the image */